<hr class="visually-hidden">
<article class="card mb-3" data-url="<%= item.via %>">
  <div class="card-header">
    <div class="row text-muted">
      <div class="col col-auto">
        <%= @source.title %>
      </div>
      <% if item.created_at %>
        <div class="col text-end">
          <%= time_tag(item.created_at, time_ago_in_words(item.created_at)) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <% if item.title %>
      <h4 class="card-title"><a class="text-decoration-none" href="<%= item.url %>"><%= item.title %></a></h4>
    <% end %>

    <% if item.html %>
      <div class="card-text">
        <%= item.html.html_safe %>
      </div>
    <% end %>

    <% if item.image %>
      <p class="card-text text-center mt-3">
        <%= image_tag thumb_url(item.image, geometry: '800x800'), alt: 'image', class: 'img-fluid' %>
      </p>
    <% end %>

    <% if item.counts %>
      <% item.counts.each do |k, v| %>
        <a class="card-link text-decoration-none text-muted" href="<%= item.via %>">
          <%= number_to_human(v) %>
          <%= k.pluralize(v) %>
        </a>
      <% end %>
    <% end %>

    <!--
    <% if item.author %>
      <a class="card-link text-muted" href="<%= item.via %>">
        @<%= item.author %>
      </a>
    <% end %>
    -->
  </div>
</article>
