<div class="suggested-queries">
  <h2 class="mb-3">Try searching</h2>
  <ul>
    <li><%= link_to_search('hackernews') %> // hackernews homepage </li>
    <li><%= link_to_search('hn sort:top limit:10', highlight_filters: true) %> // filters</li>
    <li><%= link_to_search('hn rust time:month', highlight_filters: true) %> // hackernews search</li>
    <li><%= link_to_search('reddit programming') %> // subreddit</li>
    <li><%= link_to_search('r askscience science space') %> // multireddit</li>
    <li><%= link_to_search('r news worldnews sort:top time:week limit:10', highlight_filters: true) %></li>
    <li><%= link_to_search('twitter exoplanets') %> // twitter search</li>
    <li><%= link_to_search('t exoplanets type:recent limit:100', highlight_filters: true) %></li>
    <li><%= link_to_search('t puppy filter:images type:popular sort:top', highlight_filters: true) %></li>
    <li><%= link_to_search('wikipedia events') %> // wikipedia special news page </li>
    <li><%= link_to_search('w events time:week', highlight_filters: true) %></li>
  </ul>
</div>
