<% content_for(:title, "News from #{@query}") %>
<% content_for(:page, 'search') %>
<% content_for(:query, @query) %>
<% content_for(:results, @results) %>

<% if @results.present? %>
  <div class="row align-items-center mb-2">
    <div class="col col-auto">
      <span class="">Showing <%= pluralize(@results.size, "result") %></span>
    </div>
    <div class="col text-end">
      <button id="save-query" type="button" role="button" class="btn btn-outline-primary">Save</button>
    </div>
  </div>

  <div class="alert alert-success" role="alert" style="<%= alert ? '' : 'display:none' %>">
    <%= alert %>
  </div>

  <% @results.each do |item| %>
    <%= render 'item', item: item %>
  <% end %>

  <% if @source.source_title %>
    <p class="text-center text-muted">Search powered by <%= link_to @source.source_title, @source.source_url %></p>
  <% end %>
<% else %>
  <header class="mb-5">
    <h1 class="display-3 text-center mb-3">No results :(</h1>
  </header>

  <%= render 'search/suggested_queries' %>

  <% if @query.blank? %>
    <%= render 'search/saved_queries' %>
  <% end %>
<% end %>
