<% content_for(:page, 'home') %>

<div class="d-flex flex-column justify-content-center align-items-center bg-primary home-top">
  <div class="mb-3 mb-sm-5">
    <header class="mb-3 mb-sm-4">
      <h1 class="display-3 text-center fw-bold text-white">Search the news</h1>
    </header>

    <%= render 'search/form' %>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center mt-4 home-bottom">
  <div class="alert alert-success" role="alert" style="<%= alert ? '' : 'display:none' %>">
    <%= alert %>
  </div>

  <%= render 'search/suggested_queries' %>

  <%= render 'search/saved_queries' %>
</div>
