<% content_for(:page, 'settings') %>

<header class="mb-5">
  <h1 class="display-3 text-center mb-3">Settings</h1>
</header>

<form class="form-sync" action="javascript:false">
  <div class="form-group">
    <%= label_tag 'auth_id', 'Auth Id' %>
    <%= text_field_tag 'auth_id', @auth_id, class: 'form-control', placeholder: 'Create account or use existing id' %>
    <span class="text-muted">Used to communicate with the server</span>
  </div>

  <div class="form-group">
    <%= label_tag 'auth_secret', 'Auth Secret' %>
    <%= text_field_tag 'auth_secret', @auth_secret, class: 'form-control', placeholder: 'Create account or use existing secret' %>
    <span class="text-muted">Used to sign the requests to the server</span>
  </div>

  <div class="form-group">
    <%= label_tag 'passphrase' %>
    <%= password_field_tag 'passphrase', nil, class: 'form-control' %>
    <span class="text-muted">Used to encrypt data sent to the server</span>
  </div>

  <%= button_tag 'Create account', name: 'create-account', type: 'button', class: 'btn btn-secondary float-right' %>
  <%= button_tag 'Save', type: 'submit', class: 'btn btn-primary' %>
</form>
