<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for(:title) || 'Picture' %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column" style="min-height:100vh">
    <nav class="navbar navbar-toggleable-xl navbar-inverse bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">News</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form method="get" action="/" style="width:100%">
          <input name="q" value="<%= content_for(:query) %>" class="form-control" type="search" placeholder="Search">
        </form>
        <% if content_for(:results) %>
          <button id="save-query" type="button" role="button" class="btn btn-outline-secondary ml-2">Save</button>
        <% end %>
      </div>
    </nav>

    <div class="container mt-4 mb-auto" style="max-width:44rem">
      <div class="alert alert-success" role="alert" style="<%= alert ? '' : 'display:none' %>">
        <%= alert %>
      </div>

      <%= yield %>
    </div>

    <footer class="mt-4">
      <p class="text-center text-muted">
        <span>Built with &hearts; by <a href="https://vinc.cc" class="text-muted"><strong>vinc</strong></a>.</span>
        <span>Code licensed <a href="https://github.com/vinc/news.vinc.cc/blob/master/LICENSE" class="text-muted"><strong>MIT</strong></a>.</span>
      </p>
    </footer>
  </body>
</html>
