<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for(:title) || 'News' %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= content_for(:page) %>" class="d-flex flex-column" style="min-height:100vh">

    <% unless content_for(:page) == 'home' %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <div class="container mb-auto">
      <%= yield %>
    </div>

    <footer class="mt-4">
      <p class="text-center text-muted">
        <span>Built with &hearts; by <a href="https://vinc.cc" class="text-muted"><strong>vinc</strong></a>.</span>
        <span>Code licensed <a href="https://github.com/vinc/news.vinc.cc/blob/master/LICENSE" class="text-muted"><strong>MIT</strong></a>.</span>
      </p>
    </footer>
  </body>
</html>
